* {margin: 0;padding: 0;}

ul,ol {list-style: none;}

a {text-decoration: none;color: #222;
}
body{
    font-family: 'NanumSquare';
    font-size: 13px;
    line-height: 22px;
    color: #120f43;
}
/*font*/
@font-face {
    font-family: 'GyeonggiTitleM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*navar*/
.navbar_wrap{
    height: 75px;
    font-size: 1.1rem;
    border-bottom: #e6e6e6 1px solid; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
}
.navar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    font-family: 'GyeonggiTitleM';
}
.navar_menu{
    display: flex;
    padding-left: 0;
}
.navar_menu >li {
    padding: 26px 15px;
}
.navbar_util{
    display: flex;
}
.navbar_util li{
   padding: 8px 15px; 
}
.navbar_logo{
    padding-top: 8px;
}
.submenu_wrap{
    position: absolute;
    top: 75px;
    left: -10px;
    width: 100%;
    z-index: 9; 
    display: none; 
    background-color: rgb(231, 231, 231);
    width: 1200px;
    font-family: 'GyeonggiTitleM';
}
.submenu li{
    display: inline-flex;
    float: left;
}
.submenu li a{
    padding: 15px 20px;
    color: rgb(161, 161, 161); 
}
.submenu li a:hover{
    color: rgb(54, 54, 71);
}
.navar_menu li:hover .submenu_wrap{
    display: block;
    
}
#util_lang{
    border: none;
    font-size: 1.1rem;
}

/*banner*/
#banner_wrap{
    height: 500px;
    margin-top: 400px;
    background: url(../img/01.main/banner/banner_bg2.png) no-repeat center top  ;
}
.banner{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.perfume{
    position: absolute;
    top: -250px;
    left: 450px;
}
/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
    #banner_wrap{
         width: 100%;
    }
    .perfume img{
        width: 100%;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    #banner_wrap{
        width: 100%;
   }
   .perfume img{
    width: 100%;
}

}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) { 
    #banner_wrap{
        width: 100%;
   }
   .perfume img{
    width: 100%;
}
}

/*section1*/
#section1{
    height: 800px;
    box-sizing: border-box;
    font-family: 'GyeonggiTitleM';
}
#section1 h1{
    text-align: center;
    padding-top: 80px;
    font-size: 2rem;
}

.add{
    border: #222 1px solid;
    padding: 0px 10px;
    margin-top: 5px;
    display: inline-block;
}

.fade-in-box {
    display: inline-block;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
/*section2*/
.section2_wrap{
    background-color: #ececfd52;
    box-sizing: border-box;
}
.section2{
    margin: 0 auto;
    height: 650px;
    width: 1200px;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    text-align: center;
}
.section2_textbox strong{
   font-size: 1.5rem;
   line-height: 80px;
   font-family: 'GyeonggiTitleM' ;
}
.section2_textbox p{
    font-size: 1.1rem;
    line-height: 35px;
}
.section2 img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*section3*/
.section3{
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*footer*/
.footer_wrap{
    height: 200px;
    padding-top: 10px;
    border-top: #e0e0e0 1px solid;
}
.footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_left ul{
    display: flex;
}
.footer_left ul li{
    
}
.number{
    font-size: 1.2rem;
    padding: 7px 0;
}
.left_text{
    font-size: 0.1rem;
}
.left_text a{
    color: #b8b8b8;
    
}
.footer_right{
    width: 400px;
}
.footer_right ul{
    display: flex;
}
.footer_right ul li{
    width: 50%;
}
.footer_title{
    font-weight: 800;
    line-height: 40px;
    font-family: 'GyeonggiTitleM';
}

